body{
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 500px;
    height: 400px;
    background-image: url('../images/pexels-pixabay-247791.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.8);
    cursor: pointer;
    transition: 0.3s;
}

.card-wrapper{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    opacity: 0;
    transition: 0.3s;
    border:1px solid white;  
}

.card-wrapper h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p{
    font-size: 0px;
    visibility: hidden;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card:hover{
    filter: none;
}

.card:hover > .card-wrapper::before{
    height: 300px;
    width: 400px;
    opacity: 1;
}

.card:hover > .card-wrapper p{
    font-size: 14px;
    visibility: visible;
    opacity: 1;
}