/* FONTES */

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

/* BASE INCIAL */

body{
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: 'amatic sc', sans-serif;
}

/* WRAPPER PARA ANIMATION */

.wrapper {
    height: 100vh;
    width:100vw;
    background: linear-gradient(-45deg, #312b33, #085078, #323f3d, #032522);
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: backgroundTrasition 8s ease-in-out infinite;
}

/* TEXT-DECORATIONS */

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 4px;
}

/* LINKS - SOCIAL-MEDIAS */

.social-media{
    margin-top: 1rem;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid white;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover{
    color: #085078;
    background-color: white;
}

/* KEYFRAMES DA ANIMAÇÃO */

@keyframes backgroundTrasition{
    0% {
        background-position: 0% 80%;
    }

    50% {
        background-position: 80% 100%;
    }

    100% {
        background-position: 0% 90%;
    }
}